<div class=' col-xs-offset-3 col-xs-6 '>
<br/>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h3 class='panel-title'> LOGIN </h3>
		</div>
		<div class='panel-body'>
			<form>
				<label for='username '>Username: </label>
				<input type='text ' id='username ' class='form-control' ng-model='username' />
				<label for='password'>Password: </label>
				<input type='password' id='password ' class='form-control' ng-model='password' />
				<br/>
				<button type='submit ' class='btn btn-primary' ng-click='login()'>Login</button>
			</form>
		</div>
	</div>
</div>